/* Reset and base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    text-align: center;
    color: White;
    background: #007bff;
    border-radius: 8px 8px 0 0;
    margin: -20px;
    margin-bottom: 30px;
    padding: 40px 20px;
}

/* Form and input styles */
form {
    margin-bottom: 20px;
}


/* Source selection styles */
.source {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}
.source div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    div {
        min-width: 184px;
    }
}

.button {
    width: 100px;
    border-radius: 30px;
}

button {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 30px;
}

/* Button styles */
.button,
button {
    font-size: 16px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.button:hover,
button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    padding: 9px 0;
}

/* Hidden element style */
.hidden {
    display: none;
}

/* Result container styles */
.result-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 200px;
    overflow-y: auto;
}

/* Loading animation */
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #007bff;
    border-top: 6px solid #0056b3;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

