body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttonContainer {
    align-items: center;
    gap: 16px;
    width: fit-content;
    display: flex;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}

.help {
    background-image: url("./media/help.40b22723.svg");
    background-repeat: no-repeat;
    background-color: inherit;
    background-size: contain;
    cursor: pointer;
    width: 15px;
    height: 18px;
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
}
/* Reset and base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    background: #1c92d2;
    background: linear-gradient(
    to right,
    #1c92d2,#f2fcfe
    );
    display: flex;
    height: 100vh;
}

/* Container styles */
.container {
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-image: url("./media/double-bubble-outline.png");
    height: fit-content;
}

/* Heading styles */
.title {
    text-align: center;
    color: White;
    background: #8b62b6;
    background: linear-gradient(
    to right,
    #6e7acc,#4b8fda
    );
    border-radius: 10px;
    margin: -15px;
    margin-bottom: 50px;
    padding: 43px 23px;
    position: relative;
    h1 {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

/* Form and input styles */
form {
    margin-bottom: 20px;
}
input {
    height: 15px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 0;
    border-radius: 3px 30px;

}

#submitFile {
    margin-right: 20px;
}

/* Source selection styles */
.source {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

#downloads {
    flex-direction: row;
}

#downloadButton {
    margin-top: 20px;
}

.source div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    div {
        min-width: 184px;
        font-size: 12px;
    }
    button, .button {
        background-color: #6e7acc;
    }
}

button:not(.help) {
    box-sizing: border-box;
    padding: 8px 12px;
}

.button {
    width: 100px;
    border-radius: 30px 3px;
}


/* Button styles */
.button,
button:not(.help) {
    font-size: 16px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover,
button:not(.help):hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    padding: 9px 0;
}

/* Hidden element style */
.hidden {
    display: none;
}

/* Result container styles */
.result-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 200px;
    overflow-y: auto;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
#result {
    margin: -16px;
    margin-top: 30px;
    button {
        max-width: 400px;
        font-weight: 700;
        font-size: 20px;
        width: 100%;
        box-sizing: border-box;
        padding: 8px 12px;
        border-radius: 30px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        background: linear-gradient(
            to right,
            #6e7acc,#8b62b6
            );

    }
}

/* Loading animation */
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #007bff;
    border-top: 6px solid #0056b3;
    border-radius: 100%;
    margin: 30px auto;
    animation: spin 1s infinite linear;
    cursor: progress;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.keys {
    flex-direction: column;
    margin-bottom: -58px;
}
